

.content-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 15.625rem, 1fr ));
    column-gap: 2.5rem;
}

.info-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.125rem;
}

@media ( min-width: 768px ) {
    .info-us {
        padding: 0;
    }
}