
@media ( min-width: 768px ) {
    .blog-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2.5rem;
    }
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.content-entry-blog {
    width: 37.5rem;
    margin: 0 auto;
}

.entry {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 1.25rem;
    padding-bottom: 2.5rem;
}

.entry h2 {
    text-align: center;
}
@media ( min-width: 768px ) {
    .entry h2 {
        text-align: left;
    }
}

.entry:last-child {
    padding-bottom: 0;
    border: none;
}

.blog-content {
    padding: 2rem;
}

@media ( min-width: 768px ) {
    .meta-entry {
        display: flex;
        justify-content: space-between;
    }
}

.meta-entry p {
    font-weight: 700;
}

.meta-entry span {
    color: #037bc0;
}

