html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.categories h2 {
    text-align: center;
}

.category a {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.category a:hover {
    background-color: #037bc0;
    border-bottom-right-radius: 10px;
    color: #ffffff;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}